* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.message {
  color: rgb(50, 50, 50);
}

.background-image {
  background-image: url('pastasta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.shigoto {
  margin-top: 40px;
}

.vidwrap {
  width: 100%;
  max-width: 600px;
  padding-top: 20px;
}

.video {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* transform: scale(0.75); */
}

.grad {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  width: 250px;
  background: linear-gradient(to right, rgb(151,50,27), rgb(212,169,65), rgb(161,181,192), rgb(203,240,220), rgb(97,212,218), rgb(210,210,210));
}

.socials {
  padding-top: 20px;
  font-size: 20px;
}

@media (max-width: 760px) {
  * {
    font-size: 12px;
  }
}
