* {
   margin: 0 auto;
   padding: 0;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
}

a {
 color: black;
 }

a:visited {
 color: #22252a;
 }

a:active {
 color: #292c33;
}

h6 {
   overflow: hidden;
   line-height: 1;
   margin: 0;
   font-weight: 300;
   line-height: 15px;
}

h6 span {
 text-align: left;
 /* display: block; */
 /* animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s; */
 transition: 1s;
}

body {
 height: 100vh;
 margin: auto;
}

.nav-bar {
 position: fixed;
 height: 60px;
 /* border: solid;
 border-width: 0 0 0.2px 0;
 border-color: #bababa; */
 background-color: rgba(255, 255, 255, 0.3);
 top: 0;
 width: 100vw;
 overflow: hidden;
 font-family: 'Jost', sans-serif;
 z-index: 2;
}

.nav-left-elements {
 position: absolute;
 display: flex;
 justify-content: flex-start;
 margin: 0;
 /* padding-left: 60px;
 padding-top: 25px; */
 width: 100%;
 height: 100%;
 text-align: left;
 padding-left: 2vw;

 font-weight: 300;
 font-size: 12px;
}

.nav-text {
 display: flex;
 height: 100%;
 margin: 0;
 align-items: center;
}

.img-container {
 position: absolute;
 top: 70%;
 left: 50%;
 transform: translateY(-50%) translateX(-50%);
 -webkit- transform: translateY(-50%) translateX(-50%);
 width: 120px;
 height: 100%;
 margin: 0;
 vertical-align: middle;
 background-image: url("imgs/logo.png");
 background-repeat: no-repeat;
 background-size: contain;
}

.pasta-logo a {
 height: 100%;
 width: 100%;
}

.nav-right-elements {
 display: flex;
 justify-content: flex-end;
 position: absolute;
 width: 300px;
 height: 100%;
 right: 0;
 /* padding-left: 40vw; */
 padding-right: 1vw;
 align-items: center;
}

.socials {
 display: flex;
 height: 100%;
 width: 100%;
 margin: 0;
}

.socials a {
  position: relative;
  top: 5px;
}

.fa {
 font-size: 1rem;
 font-weight: 100;
 margin: auto;
 width: 30px;
 height: 30px;
 text-align: center;
 text-decoration: none;
}

.fa-solid {
 font-size: 1rem;
 font-weight: 100;
 margin: auto;
 width: 30px;
 height: 30px;
 text-align: center;
 text-decoration: none;
}

/* .nav-bar a {
 float: left;
} */

.top {
 width: 100vw;
 height: 100vh;
 transition: 0.4s;
 padding: 0;
 margin: 0;
}

.top-left {
 position: relative;
 display: block;
 float: left;
 width: calc(100%/3);
 height: 100vh;
 z-index: 1;
 text-align: center;
}

#main-msg {
 display: inline-block;
 position: relative;
 float: left;
 left: 12%;
 top: 40%;
 height: 200px;
 width: 100%;
 margin: 0;
 font-family: 'Jost', sans-serif;
 letter-spacing: 1.4px;
 opacity: 0;
 transition: all .8s;
 -webkit-animation-delay: 0.4s;
 animation-delay: 0.4s;
}

/* #main-msg p {
 color: black;
 mix-blend-mode: screen;
} */

#sub-text {
 font-weight: 200;
 font-size: 10px;
}

#sub-text-2 {
 font-weight: 200;
 font-size: 10px;
}

#main-text {
 font-weight: 600;
 font-size: 50px;
}

.top-middle {
 position: relative;
 display: flex;
 float: left;
 width: calc(100%/3);
 height: 100vh;
 justify-content: center;
 text-align: center;
}

.single-item {
 margin: 0;
 top: 20%;
 /* display: inline-block;
 float: left;
 position: relative; */
 height: 60vh;
 width: 100vw;
}

/* .slick-track {
  width: 100vw !important;
} */

#wrap {
 position: relative;
 overflow: hidden;
}

#cover {
 transform: scale(0.75);
 height: 500px;
 width: 500px;
 -webkit-align-self: center;
 align-self: center;
 background-size: cover;
 background-repeat: no-repeat;
 transition: .8s;
 background-image: url("imgs/gp_cover.png");
 cursor: pointer;
}

#cover-2 {
 display: inline-block;
 position: relative;
 transform: scale(0.75);
 height: 500px;
 width: 500px;
 background-size: cover;
 background-repeat: no-repeat;
 transition: .8s;
 background-image: url("imgs/gpr_cover.png");
 cursor: pointer;
}

.top-right {
 position: relative;
 display: block;
 float: left;
 width: calc(100%/3);
 height: 100vh;
}

.main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
 display: grid;
 align-items: center;
 justify-items: center;
 margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 z-index: 1;
}

.main img {
 position: absolute;
 margin: 0;
 align-items: center;
 animation-name: rotate-circle;
 -webkit-animation-direction: reverse;
 animation-direction: reverse;
 -webkit-animation-duration: 30s;
 animation-duration: 30s;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 display: inline-block;
}

.left-column {
 position: relative;
 display: inline-block;
 float: left;
 margin: 0;
 width: 32vw;
 height: 100vh;
 /* background-color: white; */
 z-index: 1;
}

.right-column {
 position: relative;
 display: inline-block;
 float: right;
 margin: 0;
 width: 32vw;
 height: 100vh;
 /* background-color: white; */
 z-index: 1;
}

.box-container {
 height: 100vh;
 width: 100vw;
 position: absolute;
 /* display: flex;
 align-items: center;
 justify-content: center; */
}

.box {
 height: 25vh;
 left: 0;
 display: inline-block;
 font-family: 'IBM Plex Sans JP', sans-serif;
 z-index: -1;
}

@keyframes reveal {
   0% {
     transform: translate(0,100%);
   }
   100% {
     transform: translate(0,0);
   }
}

.text {
 font-weight: 400;
 letter-spacing: 0.5px;
 font-family: 'IBM Plex Sans JP', sans-serif;;
 fill: #111;
 font-size: 0.42rem;
}

.description {
 padding: 20px;
 height: 100%;
}

.details-scroll {
 overflow-y: scroll;
 height: 100%;
}


#left {
 text-align: left;
}

#right {
text-align: right;
}

#hirihiri {
 display: inline-block;
 margin: 40px;
 width: 100%;
 height: 22vh;
 float: left;
}

#phritz {
 display: inline-block;
 margin: 40px;
 width: 100%;
 height: 22vh;
 float: left;
}

#amane {
 display: inline-block;
 margin: 40px;
 width: 100%;
 height: 22vh;
 float: left;
}

#kabanagu {
 display: inline-block;
 margin: 40px;
 width: 100%;
 height: 22vh;
 float: right;
}

#quoree {
 display: inline-block;
 margin: 40px;
 width: 100%;
 height: 22vh;
 float: right;
}

#yuigot {
 display: inline-block;
 margin: 40px;
 width: 100%;
 height: 22vh;
 float: right;
}

#rotatingText {
 animation-name: rotate-circle;
 -webkit-animation-duration: 45s;
 animation-duration: 45s;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
}

.page-2 {
 height: 80vh;
 width: 100vw;
 position: relative;
 display: inline-flex;
}

.box-container-2 {
 height: 100%;
 width: 40%;
 z-index: 1;
}

.intro-large {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  width: 100%;
  line-height: 4.6rem;
}

.intro-large p {

  margin-left: 15px;
}

.intro-small {
  position: relative;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
  letter-spacing: 0.1px;
  margin-top: 11px;
  width: 100%;
}

.intro-small p {
  margin-left: 20px;
  margin-right: 10px;
}

.sakufu-1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  height: 10%;
  margin-left: 20px;
  margin-top: 60px;
}

.sakufu-1 a {
  position: relative;
  font-weight: 700;
  transition: 0.2s;
}

.sakufu-2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  height: 10%;
  margin-left: 20px;
}

.sakufu-2 a {
  position: relative;
  font-weight: 700;
  transition: 0.2s;
}

.sakufu-3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  height: 10%;
  margin-left: 20px;
}

.sakufu-3 a {
  position: relative;
  font-weight: 700;
  transition: 0.2s;
}

.sakufu-4 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  height: 10%;
  margin-left: 20px;
}

.sakufu-4 a {
  position: relative;
  font-weight: 700;
  transition: 0.2s;
}

.sakufu-5 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  height: 10%;
  margin-left: 20px;
}

.sakufu-5 a {
  position: relative;
  font-weight: 700;
  transition: 0.2s;
}


/* .box-container-2 p {
 margin-left: 3%;
 letter-spacing: 0.6px;
 font-family: 'Montserrat', sans-serif;
 fill: #111;
 font-size: 2rem;
 font-weight: 400;
 line-height: 30px;
 letter-spacing: 0.4px;
} */

.box-container-3 {
  position: relative;
  display: inline-block;
 height: 100%;
 width: 60%;
 display: flex;
 background-color: rgba(242,242,242,1);
 /*  26%,  43%,  61%,  76%,  92%); */
 align-items: center;
 justify-content: center;
}

.artistpic {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/artist.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 100%;
  transition: 0.4s;
  cursor: pointer;
}

a#nav {
  position: fixed;
  visibility: hidden;
  width: 20px;
  height: 20px;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
  color: #f2f2f2;
  font-size: 20px;
}

#amanelayer{
  position: absolute;
 height: 100%;
 width: 0%;
 display: flex;
 background-color: rgba(145,35,35,1);
 right: 0;
 transition: 0.4s;
}

.stylish {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/meiji.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


.stylish-2 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/dp2.png");
  margin-left: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}



#hirilayer{
  position: absolute;
 height: 100%;
 width: 0%;
 display: flex;
 background-color: rgba(244,194,40,1);
 right: 0;
 transition: 0.4s;
}

.simple-1 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/chintai.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


#yuilayer{
  position: absolute;
 height: 100%;
 width: 0%;
 display: flex;
 background-color: rgba(192,225,211,1);
 right: 0;
 transition: 0.4s;
}

.energetic-1 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/fineline.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


.energetic-2 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/grandbazar.png");
  margin-left: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}



#kabalayer{
  position: absolute;
 height: 100%;
 width: 0%;
 display: flex;
 background-color: rgba(113,198,212,1);
 right: 0;
 transition: 0.4s;
}

.serious-1 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/kashi.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


#quolayer{
  position: absolute;
 height: 100%;
 width: 0%;
 display: flex;
 background-color: rgba(185,216,228,1);
 right: 0;
 transition: 0.4s;
}

.free-1 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/kashi.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


.free-1 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/gumi.png");
  margin-left: 20px;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


.free-2 {
  position: relative;
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("imgs/ourtime.png");
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  opacity: 70%;
  transition: 0.4s;
  cursor: pointer;
}


.pt-works {
 margin: 0;
 display: inline-block;
 float: left;
 position: relative;
 width: 600px;
 height: 80%;
}

#work-1 {
 height: 500px;
 width: 100%;
 /* -webkit-align-self: center;
 align-self: center; */
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url("https://freight.cargo.site/t/original/i/aa54121e866cf2527ee8f73e6f958ff6d993b5aee623f8df766d6e96f41f76cb/laforet_summer_kv_yoko.jpg");https://prcdn.freetls.fastly.net/release_image/5658/371/5658-371-cb4f7097f960313166e95c65fb0dfac4-370x238.jpg?format=jpeg&auto=webp&fit=bounds&width=720&height=480
 cursor: pointer;
}

#work-2 {
 height: 500px;
 width: 100%;
 /* -webkit-align-self: center;
 align-self: center; */
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 background-image: url("https://lh4.googleusercontent.com/8USY-raDsa7hcKTzSuIrNwHlfKkd1YqldDeWcUa1ul0izbYNXZmdpwVQwGOlK8sCMXrBjxA3Ka21262FVBJKqufB5dPS29ARUMUQTlPTyQH94njgbkALtHHwLJBRzwlCk4-gmb6bq5zN0QkorNjMcRR4_kLp9AZDfnkBf3ZXk2IoR0edIhK90-_W458aFQk=w1200-h630-p-k-no-nu");
 cursor: pointer;
}

#work-3 {
 height: 400px;
 width: 100%;
 /* -webkit-align-self: center;
 align-self: center; */
 background-size: 50%;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url("https://storage.spincoaster.com/media/2023/04/14194913/good-pop-for-you.jpg");
 cursor: pointer;
}

.popup-message {
 display: none;
 padding: 20px;
 max-width: 50%;
 background-color: rgba(255, 255, 255, 0.92);

 border-left: #555555 solid 0.1px;

 /* position: fixed; */
 width: 300px;
 height: 280px;
 z-index: 2;
 text-align: justify;
 font-weight: 300;
 letter-spacing: -0.4px;
 line-height: 18px;
 font-size: 10px;
 font-family: 'IBM Plex Sans JP', sans-serif;
 overflow: scroll;
}

@media (min-width: 761px) {

 @keyframes rotate-circle {
   to {
     transform: rotate(1turn);
   }
 }



 .smartphone-msg {
   display: none;
 }

}

@media (hover: hover) {
  .fa:hover {
   opacity: 0.5;
   transition: 0.1s;
  }

  #cover:hover {
   transform: scale(1);
  }

  #cover-2:hover {
   transform: scale(1);
  }

  .box-container a:hover {
   opacity: 0.5;
   transition: 0.1s;
  }

  .stylish:hover {
    opacity: 100%;
  }
  .stylish-2:hover {
    opacity: 100%;
  }
  .simple-1:hover {
    opacity: 100%;
  }
  .energetic-1:hover {
    opacity: 100%;
  }
  .energetic-2:hover {
    opacity: 100%;
  }
  .serious-1:hover {
    opacity: 100%;
  }
  .free-1:hover {
    opacity: 100%;
  }
  .free-1:hover {
    opacity: 100%;
  }
  .free-2:hover {
    opacity: 100%;
  }
  #cover:hover {
     transform: scale(1);
   }

   #cover-2:hover {
     transform: scale(1);
   }

   a:hover {
     color: #9ea5b3;
     }

}

@media (max-width: 760px) {
  * {
    font-size: 1rem;
  }
  .intro-large p {
    font-size: 2.5rem;
    word-break: break-word;
    line-height: 1.1em;
  }

  .text {
    letter-spacing: 0.06rem;
  }

  #cover {
   transform: scale(0.75);
   height: 400px;
   width: 400px;
   -webkit-align-self: center;
   align-self: center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: .8s;
   background-image: url("imgs/gp_cover.png");
   cursor: pointer;
  }

  #cover-2 {
   display: inline-block;
   position: relative;
   transform: scale(0.75);
   height: 400px;
   width: 400px;
   background-size: cover;
   background-repeat: no-repeat;
   transition: .8s;
   background-image: url("imgs/gpr_cover.png");
   cursor: pointer;
  }

#main-msg {
    display: none;
}

.smartphone-msg {
  position: fixed;
  height: 100px;
  width: 300px;
  top: 10%;
  left: calc(50vw - (width / 2));

  font-family: 'Jost', sans-serif;
  letter-spacing: 1.4px;
  transform: scale(50%);
}

.text {
  font-size: 0.2rem;
  letter-spacing: 0.9px;
}

.circular-text {
  font-size: 0.5rem;
}

.left-column {
  display: none;
}

.right-column {
  display: none;
}

.popup-message {
  display: block;
  position: absolute;
  padding: 20px;
  max-width: 50%;

  width: 100%;
  height: 340px;
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.92);
  border-left: #555555 solid 0.1px;

  text-align: justify;
  font-weight: 300;
  letter-spacing: -0.4px;
  line-height: 24px;
  font-size: 10px;
  font-family: 'IBM Plex Sans JP', sans-serif;
  overflow: scroll;
}

.box-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left-elements {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  /* top: 10px; */
  /* padding-left: 60px;
  padding-top: 25px; */
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 2vw;
  left: 20px;
}

.nav-text {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
  font-size: 8px;
  font-weight: 200;
}

.nav-right-elements {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  /* padding-left: 40vw; */
  padding-right: 0;
  align-items: center;
  transition: 0.8s;
}

.socials {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 240px;
  margin: 0;
}

.socials a {
  position: relative;
  display: inline-flex;
  float: right;
}

.fa {
  font-size: 1.2rem;
    margin: auto;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

/* .box-container-2 {
height: 100%;
width: 40%;
display: flex;
margin: 25px;
align-items: center;
justify-content: center;
}

.box-container-2 p {
margin: 0;
font-weight: 400;
font-family: 'IBM Plex Sans JP', sans-serif;;
fill: #111;
font-size: 0.6rem;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.4px;
} */

.img-container {
justify-content: center;
align-items: center;
position: absolute;
width: 80px;
height: 100%;
margin: 0;
top: 50%;
background-position: center;
background-image: url("imgs/logo.png");
background-repeat: no-repeat;
background-size: contain;
}

.message {
 color: rgb(50, 50, 50);
}

.background-image {
 background-image: url('pastasta.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 display:flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100%;
}

.intro-small {
  position: relative;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  letter-spacing: 0.1px;
  margin-top: 11px;
  width: 100%;
}

.shigoto {
 margin-top: 40px;
}

.vidwrap {
 width: 100%;
 max-width: 600px;
 padding-top: 20px;
}

.video {
 position: relative;
 width: 100%;
 max-width: 100%;
 height: 0;
 padding-bottom: 56.25%;
}

.video iframe {
 position: absolute;
 width: 100%;
 max-width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 /* transform: scale(0.75); */
}

.grad {
 margin-top: 80px;
 margin-left: auto;
 margin-right: auto;
 height: 15px;
 width: 250px;
 background: linear-gradient(to right, rgb(151,50,27), rgb(212,169,65), rgb(161,181,192), rgb(203,240,220), rgb(97,212,218), rgb(210,210,210));
}

}

@media (max-width: 387px) {
  * {
    font-size: 0.8rem;
  }

  .text {
   letter-spacing: 1.3px;
  }
