* {
  margin: 0 auto;
  padding: 0;
}

.message {
  margin-left: 70px;
  color: rgb(50, 50, 50);
}

.background-image {
  background-image: url('pastasta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.shigoto {
  margin-top: 40px;
}


.grad {
  margin-top: 200px;
  margin-left: 70px;
  height: 15px;
  width: 250px;
  background: linear-gradient(to right, rgb(151,50,27), rgb(212,169,65), rgb(161,181,192), rgb(203,240,220), rgb(97,212,218), rgb(210,210,210));
}

.socials {
  font-size: 20px;
}
